
body {
  color: rgb(174, 181, 45);
  background-color: rgb(121, 121, 121);
}

.main {
  max-width: 500px;
}

.slider {
  width: 300px;
  float: left;
}

.sliderLabel {
  width: 100px;
  float: left;
}

.sliderValue {
  width: 50px;
  float: left;
}
